.imgBox {
    display: flex;
    position: relative;
    user-select: none;
}
.imgBox img {
    width: 100%;
    height: 100%;
}
.imgStatic {
    opacity: 1; /* Initially visible */
}
.imgHovered {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Initially hidden */
    z-index: 1;
}
.imgHoveredSimpler {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6; /* Initially hidden */
    z-index: 1;
}
@media (hover: hover) {
    .imgBox:hover .imgHovered {
        opacity: 1; /* Show hovered image */
    }

    .imgBox:hover .imgHoveredSimpler {
        opacity: 1; /* Show hovered image */
        transition: 0.5s ease-in-out;
    }

    .imgBox:hover .imgStatic {
        opacity: 0; /* Hide static image */
    }
}
@media (hover: none) {
    .imgBox:active .imgHovered {
        opacity: 1; 
    }

    .imgBox:active .imgHoveredSimpler {
        opacity: 1; 
        transition: 0.5s ease-in-out;
    }

    .imgBox:active .imgStatic {
        opacity: 0; 
    }
}