.ratingCard {
    display: flex;
    flex-direction: column;
    width: 405px;
    height: 409px;
    border-radius: 16px;
    background: var(--white);
    box-shadow: 0px 4.01px 4.01px 0px #00000040;
    padding: 31px;
    gap: 70px;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center
}

.ratingCardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.ratingCardHeader h1 {
    font-family: var(--font-numans);
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--black);
}

.stars {
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.star {
    width: 40px;
    height: 40px;
}

.ratingCardDescription p {
    font-family: var(--font-nunito-sans);
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    color: var(--black);
}

