.ratingCardsCarousel {
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiperContainer {
    width: 90%;
    height: 412px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperSlide {
    display: flex;
    align-self: center;
}

#swiperButtonNext, #swiperButtonPrev {
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

#swiperButtonNext {
    right: 0px;
}

#swiperButtonPrev {
    left: 0px;
}

@media (max-width: 1505px) {
    .swiperContainer {
        width: 95%;
    }
}

@media (max-width: 1609px) {
    .ratingCardsCarousel {
        width: 100%;
    }
}