.feedbackSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: white;
  justify-content: center;
  align-items: center;
  padding: var(--height-main-padding) var(--width-main-padding)
    var(--height-main-padding) var(--width-main-padding);
  z-index: 1;
}

.feedbackSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../../assets/images/pattern-bg-red300.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.3;
  z-index: 0;
}
#feedbackBox {
  width: 24.375rem;
  height: 8.5rem;
  padding: 0.5rem;
  resize: none;
  border-radius: 0.2rem;
  background: var(--white);
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--font-roboto);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--font-roboto);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-start;
  }
}

#nomeinputFeedback{
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--font-roboto);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}
.lowerPart {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.error {
  display: flex;
  flex-direction: column;
  background: none;
  color: var(--white);
  font-size: 0.8rem;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal p {
  margin-bottom: 20px;
  font-family: var(--font-montserrat);
  color: var(--black);
}
#inputError{
  outline: 3px solid var(--red-100);
  outline-offset: 1px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--font-roboto);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}
#feedbackBoxError{
  outline: 3px solid var(--red-100);
  outline-offset: 1px;
  border-radius: 4px;
  width: 24.375rem;
  height: 8.5rem;
  padding: 0.5rem;
  resize: none;
  border-radius: 0.2rem;
  background: var(--white);
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--font-roboto);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--font-roboto);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-start;
}
}