
main {
    padding: 0;
}

.homeSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background: white;
}

.homeSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../assets/images/pattern-bg-blue0.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    opacity: 0.3; 
    z-index: 0; 
}

.titleBox {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--blue-0);
    width: 100%;
    padding: var(--height-main-padding) var(--width-main-padding) var(--height-main-padding) var(--width-main-padding);
    gap: 40px;
}

.titleBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../assets/images/pattern-bg-white.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    opacity: 0.3; 
    z-index: 0; 
}

.sloganBox {
    max-width: 763px;
    width: 100%;
    z-index: 1;
}

.sloganBox h1 {
    font-family: var(--font-nunito-sans);
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    line-height: 2.7rem;
    letter-spacing: 0%;
    text-align: center;
    color: var(--blue-400);
}

.featuresSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw var(--width-main-padding) var(--height-main-padding) var(--width-main-padding);
    z-index: 1;
}

.featuresList {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.featuresList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.featuresList li p {
    max-width: 315px;
    font-family: var(--font-nunito-sans);
    font-weight: 600;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0%;
    text-align: center;
    color: var(--black);
}

.salesSection {
    display: flex;
    flex-direction: column;
    padding: 4vw var(--width-main-padding) var(--height-main-padding) var(--width-main-padding);
    z-index: 1;
    gap: 20px;
}

.salesSection h1 {
    font-family: var(--font-numans);
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--red-400);
}