.productCardsCarousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiperContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.swiperSlide {
    display: flex;
    align-items: center;
    justify-content: center;
}

#swiperButtonNext, #swiperButtonPrev {
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

#swiperButtonNext {
    right: 0px;
}

#swiperButtonPrev {
    left: 0px;
}

