.concludedSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;
  height: 234px;
  border-radius: 2px;
  background: var(--blue-200);
  justify-content: center;
  align-items: center;
  padding: var(--height-main-padding) var(--width-main-padding)
    var(--height-main-padding) var(--width-main-padding);
  z-index: 0;
}

.concludedSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../../assets/images/pattern-bg-blue0.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.5;
  z-index: 1;
}
.concludedSection h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: var(--font-nunito-sans);
  color: white;
  position: relative;
  z-index: 2;
}
.concludedSection p {
  color: #fff;
  font-family: var(--font-nunito-sans);
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
  position: relative;
  z-index: 2;
}
