.starratingSection {
    display: flex;
    align-items: center;
    gap: 22px;
}

.animate {
    animation: scaleUp 0.15s ease-in-out forwards;
}
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}